{% extends 'base.html' %}

{% block content %}
    <!-- Body -->
    <div class="main shifted" id="main">
        <div class="content">
            <!-- content -->
            <div id="content" class="colMS">
                <h1>Cron Schedule Management</h1>
                <div id="content-main">
                    <div id="Instructions">
                        <p>Here you can edit the one (and only) crontab entry for this project.
                            Data is NOT validated, so be careful to use 
                            <a target="_blank" href="https://crontab.guru/">valid crontab syntax</a>.
                        </p>
                        <p>The correct command to schedule is:</p>
                        <p>
                            <code>/home/django/django_app/docker_scripts/cron_script.sh >> /home/django/django_app/logs/application.log 2>&1</code>
                        </p>
                        <p>Be sure to enable the entry if you want it to run!</p>
                    </div>
                    <div class="app-auth module">
                        <form id="p-form" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" id="report_submit" >Update</button>
                        </form>
                    </div>
                </div>
                <br class="clear">
            </div>
            <!-- END Content -->
        </div>
    </div>
{% endblock %}
